<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/stylesheets/file.css">

    
</head>
<body>
    
    <div class="hero">
        <header>
        <nav>
            <!-- <img src="menu.png" class="menu-img"> -->
            <img src="/image/logo1.png" class="logo">
            <ul>
                <li><a href="/register">Registeration</a></li>
                <li><a href="/user">Sudent_Details</a></li>
                
                <li><a href="https://reacttutstodo.herokuapp.com/">TODO LIST </a></li>
                <li><a href="https://prashantcoding.github.io/About-us-Evil-Buster/">About US</a></li>
                <li><a href="/">LogOut</a></li>
            </ul>
               
        </nav>
    </header>
    <div class="info">
        <h1>DBMS Project</h1>
        <p>This Web App create a Dataset, <br>contains reponses  about students that have been vaccinated or not.</p>
    </div>
         <div class="Boy">
            <img src="/image/boy.webp" class="boy">
            
        </div>
    </div>
</body>
</html>